.w3-theme-naranja{
  background-color: #F19947!important;
}
.w3-theme-azul {
background-color:#3880A8!important;
}.w3-text-theme-azul {
   color:#3880A8!important;
  }

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;

    width: 80%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  div.login{
    max-width:600px;
   
    border-color: #3880A8;
  }